/**{margin: 0;padding: 0;}*/
a,a:hover{color:#EE6600}
ul{list-style: none}
body{
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.sprite{background: url('../images/event.png') no-repeat 0 0}
header{box-shadow: 0 2px 8px 2px #D8D8D8;;height: 40px;position: fixed;width: 100%;background: rgba(255,255,255,0.9)}
header .container{padding-top:3px}
header .logo{display: block;width: 88px;height: 34px;;text-indent: -999px}
header .row-fluid .span1{width: 88px}
.host{padding-top:8px}
.social{}

.content{padding-top: 60px}
    .event-header{padding-bottom: 10px;color:#005580;border-bottom: 1px dotted #D5D5D3;margin-bottom: 20px;}
    .event-header h1{font-size: 26px}
    .event-header h2{font-size: 17px;font-weight: normal}
    
.event{box-shadow: 0 3px 3px #CCCCCC;border:1px solid #D5D5D3;margin-bottom: 25px;}
.heading{color: #005580;line-height: 22px;font-size: 16px;padding: 6px 10px 7px 10px;background-color: #EFEFEF;border-bottom: 1px solid #D5D5D3;
border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;
}
.ticket{padding:3px 14px 10px 11px;border-bottom:1px solid #D5D5D3}
.ticket_table_select{width: 50px;margin-bottom: 0}
table tr,table th{text-align: left}
.ticket_table td {
    border-top: 1px solid #D5D5D3;padding-top: 10px;font-size: 13px
}
.ticket_table th{padding:5px 0;text-transform: uppercase;font-size: 11px}
.ticket_type_name{font-weight: bold}

.button-small{
    padding:9px 12px;font-size: 12px;
}
.button-medium {
    font-size: 17px;
    padding: 10px 25px;
}
.btn-style {
    background: url("../img/glass_light-trans.png") repeat-x scroll 0 50% #95C033;
    border: 1px solid #8BAE42;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 #B7DB81 inset, 0 -1px 0 #B7DB81 inset;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #4E6D18;
}
.btn-style:hover{
    background-color: #98d236;
    border-color: #8bae42;
    -moz-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    -webkit-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    color: #fff;
    text-decoration: none
}
.ticket-button{margin-top:15px;text-align: right;padding-right: 14px}
.radius-body{border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}

.event-body{
    font-size: 13px;
    line-height: 1.6em;
    min-height: 0;
    padding: 13px 14px;
}
.panel_icon{margin-top: 5px}
.panel_icon span{margin-top: 2px;width: 14px;height: 16px;}
.panel_icon a{margin-left:10px}
.calendar{background-position: 0 -60px;}
.outlook{background-position: -16px -60px;width: 20px!important}
.google{background-position: -52px -60px;}
.yahoo{background-position: -37px -58px}
.ical{background-position: -68px -60px}

.vcard{margin-bottom: 20px}
.vcard h6{font-size: 1em;color:#000}
.vcard p,.date{line-height: normal;}
.date{margin-bottom: 15px}
.ico-outlook {margin-left: 5px!important}

.hosted .event-body h2{font-size: 16px;line-height: 1.2em;margin-bottom: 15px;}
.contact-host{display: inline-block;margin-bottom: 10px;}
.contact-host span{float:left;height: 16px;width: 16px;margin-right: 5px;}
.ico-hosted{background-position: -31px -39px;}
.friend{background-position: 0 -39px;}
.subcribe{background-position: -16px -39px;}
.xml{background-position: -46px -39px;width: 32px!important}
.rss-c{background-position: -85px -60px;}
.atom{background-position: -99px -60px;}
.aol{background-position: -127px -60px;}
.msn{ background-position: -113px -60px;}


footer{
    background-image: linear-gradient(bottom, rgb(255,255,255) 15%, rgb(245,245,245) 58%, rgb(233,233,232) 79%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(245,245,245) 58%, rgb(233,233,232) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(245,245,245) 58%, rgb(233,233,232) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(245,245,245) 58%, rgb(233,233,232) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(245,245,245) 58%, rgb(233,233,232) 79%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.15, rgb(255,255,255)),
            color-stop(0.58, rgb(245,245,245)),
            color-stop(0.79, rgb(233,233,232))
    );
}
footer .container{padding:15px 0}
footer .left{float:left;width: 420px;}
footer .center{float:left;width: 400px;text-align: left}
footer .right{float:right;width: 101px}
.foot-logo{background-position: 0 -245px;height: 34px;width: 101px;display: block;text-indent: -9999px}
.other-calendar{display: none}

/*******Invite******/
.star{color: #FF4249}
.invite .button-small{display: inline-block;margin-top: 10px;}

#invite_friends_privacy_protected {
    font-size: 11px;
    line-height: 13px;
}

#invite_friends_privacy_protected > span, #invite_friends_privacy_protected > a {
    display: block;
    margin-top: 5px;
}

/********Rrgister Event********/
.register-event .ticket{border:none}
.register-event table .center{text-align: center}
#time_left{font-size: 30px;color:#555;float:left;margin-top: 15px;}
.alertbox{float:left;margin: 5px 0 0 10px}
.birthday select{float:left !important;margin-right: 10px}
.button-complete-register{text-align: center}
.require{font-size: 11px;color: #FF4249;text-align: right}

/******Order Confirmation*****/
#ordermessage{padding:0px 14px;}
.register-event.order_confirmation .comming_up_event{float:left}
.register-event.order_confirmation .alertbox{margin-top:5px}

/*******Organizer********/
.feature-thumb{display: block;float:left;width: 60px;margin-right:10px}
    .feature-thumb img{width: 60px}
.featured_details{float:left;width: 120px}    
    .featured_details h3{font-size: 16px;font-weight: normal;line-height: 17px;margin-bottom: 5px}
    .featured_details p {margin-bottom: 0;font-size: 11px;line-height: normal}
    
.organizer .ticket-button{padding-right:0}

.organizer .upcoming_events .heading{padding-bottom: 0}
    .organizer .upcoming_events .heading ul{border-bottom: none;margin:5px 0 0 0}
    .organizer .upcoming_events .heading ul li{margin-right: 5px}
    .organizer .upcoming_events .heading ul li a {color:#000;}
    .organizer .upcoming_events .heading ul li.active a{color:#EE6600}
 
.upcoming_events .event-body{padding-top:0}
.upcoming_events .event-body ul{margin:0}
    .upcoming_events .event-body ul li{border-bottom: 1px solid #D5D5D3;padding-top:13px}
    .upcoming_events .event-body ul li:last-child{border-bottom: none}
.upcoming_events .thumb{float:left;width: 100px;margin-right:15px}    
.upcoming_events .detail{float:left;width: 480px}
    .upcoming_events .detail .place{margin:5px 0}
    .upcoming_events .detail h4{font-size: 20px; margin-bottom: 5px;}
.upcoming_events .action{float:right;width: 60px}
    .upcoming_events .action a{display: block}

.organizer .past .button-small{padding:8px 12px 8px}